<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
          <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
      </div>
      <ul class="nav" id="side-menu">
          <li class="user-pro">
              <a href="#" class="waves-effect"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu"> Admin<span class="fa arrow"></span></span>
              </a>
              <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                  <li><a href="javascript:void(0)"><i class="ti-user"></i> <span class="hide-menu">My Profile</span></a></li>
                  <li><a href="javascript:void(0)"><i class="ti-wallet"></i> <span class="hide-menu">My Balance</span></a></li>
                  <li><a href="javascript:void(0)"><i class="ti-email"></i> <span class="hide-menu">Inbox</span></a></li>
                  <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a></li>
              </ul>
          </li>
          <li> <a href="/admin/dashboard" class="waves-effect"><i  class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu">Dashboard</span></a> </li>
          <li> <a href="/admin/orders" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw"></i> <span class="hide-menu">Orders</span></a> </li>
          <li> <a href="/admin/table" class="waves-effect"><i class="mdi mdi-view-carousel fa-fw"></i> <span class="hide-menu">Tables</span></a> </li>
          <li> <a href="/admin/menu" class="waves-effect"><i class="mdi mdi-silverware-variant fa-fw"></i> <span class="hide-menu">Menu</span></a> </li>
          <li> <a href="/admin/menu-item" class="waves-effect"><div class="menu-logo"></div><span class="hide-menu">Menu Item</span></a> </li>
          
          <li class="devider"></li>
          <li><a href="login.html" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
      </ul>
  </div>
</div>