<div class="row">
  <div class="col-lg-12">
      <div class="white-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4><strong>MAIN MENU ITEMS</strong></h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button type="button" class="btn btn-default btn-warning btn-additem">Add Item</button>
            </div>
        </div>
          <hr>
          <div class="container-fluid">
          <table class="table table-striped row-border" id="editable-datatable" width="100%">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Cooking Time</th>
                      <th>Persons/Serving</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <img src="" width="80" height="80"/>
                      </td>
                      <td>Human Limbs with Diarrhea</td>
                      <td>P320</td>
                      <td>40 minutes</td>
                      <td>3-5 persons</td>
                      <td>
                          <button type="button" class="btn btn-info btn-outline btn-circle btn-lg btn-view"><i class="ti ti-eye"></i></button>
                          <button type="button" class="btn btn-danger btn-outline btn-circle btn-lg btn-remove"><i class="ti ti-trash"></i></button>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <img src="" width="80" height="80"/>
                    </td>
                    <td>Human Limbs with Diarrhea</td>
                    <td>P320</td>
                    <td>40 minutes</td>
                    <td>3-5 persons</td>
                    <td>
                        <button type="button" class="btn btn-info btn-outline btn-circle btn-lg btn-view"><i class="ti ti-eye"></i></button>
                        <button type="button" class="btn btn-danger btn-outline btn-circle btn-lg btn-remove"><i class="ti ti-trash"></i></button>
                    </td>
                </tr>
          </table>
          </div>
      </div>
  </div>
</div>