<div class="user-side">
    <img src="assets/img/menu-background.png" class="fire-image" />

    <div class="login-container">
        <form [formGroup]="forms" #formDirective="ngForm" (submit)="login()">
            <img src="assets/img/logo-transparent.png" class="logo" />

            <div class="group">
                <input type="text" name="username" id="username" required formControlName="username">
                <span class="bar"></span>
                <label>Username</label>
            </div>

            <div class="group">
                <input type="password" name="password" id="password" required formControlName="password">
                <i class="material-icons view-password">visibility</i>
                <span class="bar"></span>
                <label>Password</label>
            </div>

            <button [disabled]="!forms.valid">
                <span class="login-text">LOGIN</span>
                <div class="showbox">
                    <div class="loader">
                      <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                      </svg>
                    </div>
                  </div>

            </button>
        </form>

    </div>
</div>
