<div class="row bg-title">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ title }}</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button type="button" (click)="addTable()" class="btn btn-additem btn-standard btn-addtable model_img img-responsive" alt="default" data-toggle="modal" data-target="#add-table-modal">Add Table</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row row-in">
                <div class="col-lg-2 col-sm-6 row-in-br">
                </div>
                <div class="col-lg-4 col-sm-6 row-in-br b-r-none">
                    <ul class="col-in">
                        <li>
                            <span class="circle circle-md bg-danger"><i class="ti-layout-grid3-alt"></i></span>
                        </li>
                        <li class="col-last">
                            <h3 class="counter text-right m-t-15">8</h3>
                        </li>
                        <li class="col-middle">
                            <h4>Number of Available Tables</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 b-0">
                    <ul class="col-in">
                        <li>
                            <span class="circle circle-md bg-info"><i class="ti-layout-grid3-alt"></i></span>
                        </li>
                        <li class="col-last">
                            <h3 class="counter text-right m-t-15">4</h3>
                        </li>
                        <li class="col-middle">
                            <h4>Number of Occupied Tables</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 b-0">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-8 col-sm-12 col-12 flex-tables-container">
    <div class="flex-container flex-catcher">
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-four">1</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-occupied">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container" title="View Table">
                    <span class="table-pic table-four">2</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-occupied">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container">
                    <span class="table-pic table-two">3</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-two">4</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-occupied">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container">
                    <span class="table-pic table-two">5</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-four">6</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-occupied">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container">
                    <span class="table-pic table-two">7</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-four">8</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-four">9</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-two">10</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-vacant">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container model_img img-responsive" alt="default" data-toggle="modal" data-target=".view-table-modal" title="View Table">
                    <span class="table-pic table-two">11</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container" [swal]="deleteTable" data-toggle="tooltip">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>
        <div class="flex-item table-occupied">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-12 span-container">
                    <span class="table-pic table-four">12</span>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 button-container">
                    <i class="text-danger mdi mdi-delete"></i>
                </div>
            </div>
        </div>

        <swal
            #deleteTable
            title="Delete Table?"
            text="Are you sure you want to remove this table?"
            type="question"
            [showCancelButton]="true"
            [focusCancel]="true"
            (confirm)="delete(table.id)"
            confirmButtonText="Yes, Delete it"
            confirmButtonColor="#A40020">
        </swal>
        
    </div>
</div>

<!-- add table modal content -->
<div id="add-table-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Table Details</h4> </div>
            <div class="modal-body container-fluid add-table-body-container">
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 add-table-container">
                    <div class="add-table-item">
                        <span class="table-details"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                    <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                        <h5>Table Number</h5>
                        <h5>No. of Seats</h5>
                    </div>
                    <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                        <input type="number" class="form-control table-input" id="table-number" value="13">
                        <input type="number" class="form-control table-input" id="table-seats" max="4" min="2" step="2">
                    </div>
                </div>
            </div>
            <div class="modal-footer btn-submit-container">
                <button type="button" class="btn waves-effect" id="submit" data-dismiss="modal">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- view table modal content -->
<div class="modal fade view-table-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="col-lg-12 col-md-2 col-sm-2 col-xs-12">
                    <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                        <h4 class="modal-title">Table No. 1</h4>
                    </div>
                    <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                        <h4 class="modal-title-right">Order No. 12</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body container-fluid view-table-body-container">
                <div class="col-lg-12 col-md-2 col-sm-2 col-xs-12">
                    <div class="table-responsive">
                        <table class="table color-table inverse-table view-table">
                            <thead>
                                <tr>
                                    <th class="column-heading">Image</th>
                                    <th class="column-heading">Name</th>
                                    <th class="column-heading">Quantity</th>
                                    <th class="column-heading">Price</th>
                                    <th class="column-heading">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of [1,2,3,4,5]">
                                    <td><img src="../../img/dish-1.png"></td>
                                    <td>Scottish Prawn</td>
                                    <td>1</td>
                                    <td>P 100</td>
                                    <td>P 100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12 col-md-2 col-sm-2 col-xs-12 total-container">
                    <div class="col-lg-11">
                        <h3>Total</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>400</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->