@import '../../plugins/bootstrap/dist/css/bootstrap.min.css';

#reception-header {
    height: 100px;
    padding: 10px 0;

    .reception-ros-logo {
        width: 80px;
        height: 80px;
    }
}

.main-body-container {
    padding: 50px 0 0 0;

    .table-occupied {
        opacity: 0.5;
    }

    .flex-container {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        margin: 25px 0;

        .flex-item {
            background-color: #ffffff;
            height: 110px;
            width: 110px;
            padding: 15px;

            .reception-table {
                height: 80px;
                width: 80px;
            }
        }

        .flex-item:hover {
            box-shadow: 0 6px 16px rgba(0,0,0,0.35);
        }

        
    }
}
