.navbar-header {
    color: #ffffff;

    .ros-logo {
        width: 50px;
        margin-bottom: 10p
    }

    .ros-text {
        font-size: 19px;
        padding: 0;
    }

    b {
        color: #ffffff;
    }

    .caret {
        color: #ffffff;
    }
}

.sidebar {
    a.waves-effect .menu-logo {
        background-image: url(../../img/ic_room_service.png);
        height: 14px;
        width: 20px;

        span {
            padding-left: 28px;
        }
    }

    a.waves-effect.active {
        i {
            color: #FBA62F;
        }

        span {
            color: #FBA62F;
        }

        .menu-logo {
            background-image: url(../../img/ic_room_service_active.png);
            height: 14px;
            width: 20px;
        }
    }
}

.btn {
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #cfcfcf;
}

.content-title {
    font-size: 14px;
}

.title-card {
    display: flex;
    align-items: center;
}

