@import "bower_components/jquery-datatables-editable/dataTables.css";
@import "admin.component.scss";

body {
    font-family: $primary-font;
    font-size: $base-font-size;
}

.btn-additem, .btn-additem:hover, .btn-additem:active, .btn-additem:visited {
    padding: 5px;
    color: white;
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
    float: right;
    max-height: 40px;
    width: 120px;
}

#editable-datatable_length > label {
    color: black;
}

#editable-datatable > tbody > tr > td{
    vertical-align: middle;
    height: 50px;
}

.btn.btn-info.btn-outline.btn-circle.btn-lg {
    margin: 10px;
}

#editable-datatable > thead > tr > th{
    font-weight: bold;
}

#editable-datatable tbody tr td:nth-child(6) button.btn-view i {
    color: blue;
}

#editable-datatable tbody tr td:nth-child(6) button.btn-remove i {
    color: red;
}

#editable-datatable tbody tr td:nth-child(6) button.btn-view i:hover, #editable-datatable tbody tr td:nth-child(6) button.btn-remove i:hover{
    color: white;
}

#editable-datatable tbody tr td:nth-child(6) button.btn-view i, #editable-datatable tbody tr td:nth-child(6) button.btn-remove i {
    font-size: 24px;
    position: relative;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
}

#editable-datatable_paginate {
    color: red;
}

.modal-title {
    float: left;
}

.close {
    float: right;
}

textarea {
    width: 100%;
    height: 100px;
}

.modal-custom-size {
    width: 400px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
