@import "admin.component.scss";

.col-in i {
    color: #ffffff;
}

:host /deep/ {

    .add-table-container {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        margin: 25px 0;

        .add-table-item {
            background-color: #ffffff;
            height: 230px;
            margin: 10px 0;
            width: 230px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .table-details {
                height: 150px;
                width: 150px;
                text-align: center;
                background: url(../../img/table-gold-4.png);
                background-size: cover;
                background-repeat: no-repeat;
            }

            span {
                color: #ffffff;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }

    .flex-container {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 25px 0;

        .flex-item {
            background-color: #ffffff;
            height: 250px;
            margin: 10px 0;
            width: calc(100% * (1/4) - 20px - 1px);
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .table-pic {
                height: 80px;
                width: 80px;
                text-align: center;
                background-repeat: no-repeat;
            }
        
            .table-two {
                background: url(../../img/table-gold-2.png);
                background-size: cover;
            }
        
            .table-four {
                background: url(../../img/table-gold-4.png);
                background-size: cover;
            }

            span {
                color: #ffffff;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .table-details {
                height: 150px;
                width: 150px;
                text-align: center;
                background: url(../../img/table-gold-4.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        
        .table-occupied {
            opacity: 0.5;
        }

        .table-vacant:hover {
            box-shadow: 0 6px 16px rgba(0,0,0,0.35);
        }   
    }
}

.btn-addtable, .btn-addtable:hover, .btn-addtable:active, .btn-addtable:visited {
    padding: 5px;
    color: white;
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
    float: right;
    max-height: 40px;
    width: 120px;
}

.add-table-body-container {
    display: flex;
    align-items: center;

    h5 {
        margin: 15px auto;
    }

    .table-input {
        margin: 5px;
    }
}

.btn-submit-container {
    text-align: center;

    button {
        background-color: #ffa500;
        color: #ffffff;
        width: 119px;
        height: 40px;
    }
}

.modal-title-right {
    text-align: right;
}

.view-table-body-container {
    
    .column-heading {
        text-align: center;
    }

    .view-table {
        text-align: center;
    }

    .total-container {
        text-align: right;
        
        h3 {
            color: #ffa500;
        }
    }
}