@import "admin.component.scss";

.col-in i {
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 25px 0;

    .flex-item {
        background-color: #ffffff;
        height: 230px;
        width: 230px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .table-pic {
            height: 80px;
            width: 80px;
            text-align: center;
            background-repeat: no-repeat;
        }
    
        .table-two {
            background: url(../../img/table-gold-2.png);
            background-size: cover;
        }
    
        .table-four {
            background: url(../../img/table-gold-4.png);
            background-size: cover;
        }

        span {
            color: #ffffff;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .table-occupied {
        opacity: 0.5;
    }

    .table-vacant:hover {
        box-shadow: 0 6px 16px rgba(0,0,0,0.35);
    }   
}

.btn-addtable, .btn-addtable:hover, .btn-addtable:active, .btn-addtable:visited {
    padding: 5px;
    color: white;
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
    float: right;
    max-height: 40px;
    width: 120px;
}