<div class="dishSlideContainer">
    <div class="menu">
        <div class="menu-item order">
            <span>
                Order <i class="material-icons shopping-icon">shopping_cart</i>
                <span class="order-quantity">
                    <span></span><p>12</p>
                </span>
            </span>
        </div>        
            <div class="menu-item menu">
                <span>Menu <i class="material-icons menu-icon">view_headline</i></span>
            </div>
    </div>
  
    <div class="row">
        <div class="center-align col-md-7">
            <img src="assets/img/pasta.png" class="img-responsive" />
        </div>
        <div class="col-md-5">
            <h3 class="order-name">Pasta with Mushrooms and Prosciutto</h3>
            <p>lorem ipsum</p>
        </div>
    </div>
  </div>