<div class="feedback-container">
  <div class="container">
    <div class="row card">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 left-container">
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 right-container">
        <h1>We'd love to hear your voice about the quality of our services!</h1>
        <div class="label-flex-container">
          <div>Worst</div>
          <div>Best</div>
        </div>
        <div class="flex-container">
          <div class="flex-item">1</div>
          <div class="flex-item remove">2</div>
          <div class="flex-item remove-last">3</div>
          <div class="flex-item remove">4</div>
          <div class="flex-item">5</div>
          <div class="flex-item remove">6</div>
          <div class="flex-item remove-last">7</div>
          <div class="flex-item remove">8</div>
          <div class="flex-item remove-last">9</div>
          <div class="flex-item">10</div>
        </div>
        <div class="row mt-20">
          <div class="col-md-6">
            <h4>Food Quality</h4>
            <div class="rate-container">
              <div class="rate-emoji">
                <i class="em em-expressionless"></i>
              </div>
              <div class="rate-emoji">
                <i class="em em-smile"></i>
              </div>
              <div class="rate-emoji">
                <i class="em em-heart_eyes"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Staff/Crew</h4>
            <div class="rate-container">
              <div class="rate-emoji">
                <i class="em em-expressionless"></i>
              </div>
              <div class="rate-emoji">
                <i class="em em-smile"></i>
              </div>
              <div class="rate-emoji">
                <i class="em em-heart_eyes"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-20">
          <button class="submit-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>