<div class="user-side background">
    <img src="assets/img/menu-background.png" class="background-image" />
    <div class="circle-container"></div>

    <div class="menu-item-container">
        <div class="menu-item animated hide" *ngFor="let menuItem of currentMenu.items">
            <div class="dish-padding">
                <span class="dish-price">
                    <span></span>
                    <p>P{{ menuItem.salePrice > 0? menuItem.salePrice : menuItem.price }}</p>
                </span>
                <img src="assets/img/dish-1.png" class="img-responsive" />
                <span class="dish-name">{{ menuItem.name }}</span>
            </div>

            <div class="dish-buttons">
                <button class="btn-review">
                    <i class="material-icons">visibility</i>
                    <span>Review</span>
                </button>

                <button class="btn-order" (click)="addToCart(menuItem)">
                    <i class="material-icons">shopping_cart</i>
                    <span>Add to Order</span>
                </button>
            </div>
        </div>
    </div>

    <div class="menu-container">
        <div class="menu active">
            <img (click)="showMenu('all')" src="assets/img/Salad.png" />
            <span>All</span>
        </div>
        
        <div class="menu" *ngFor="let menu of menuList" (click)="showMenu(menu)" [hidden]="!menu.show">
            <img src="assets/img/Main course.png" />
            <span>{{ menu.name }}</span>
        </div>
    </div>

    <div class="visible-xs fab-menu">
        <span></span>
        <i class="material-icons">restaurant_menu</i>
    </div>

    <div class="fab-menu-expand inactive"> </div>

    <div class="menu-container-xs hide">
        <div (click)="showMenu('all')" class="menu-item-xs animated hide active">
            <img src="assets/img/Salad.png" />
            <span>All</span>
        </div>

        <div class="menu-item-xs animated hide"  *ngFor="let menu of menuList" (click)="showMenu(menu)" [hidden]="!menu.show">
            <img src="assets/img/Main course.png" />
            <span>{{ menu.name }}</span>
        </div>
    </div>
</div>