<div class="container-fluid">

  <header id="reception-header">
    <img src="assets/img/logo-transparent.png" class="reception-ros-logo" />
  </header>
  <div class="main-body-container">

    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="flex-container">
          <div *ngFor="let table of tableList" class="flex-item">
            <span class="reception-table {{ table.capacity == 2 ? 'twoSeater' : 'fourSeater' }} {{ table.status == 'available' ? 'table-occupied' : '' }}">{{ table.tableNumber }}</span>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">

        <!-- Tab links -->
        <div class="tab">
          <button class="tablinks active" id="dine-btn" (click)="openTab('dine')">Dine</button>
          <button class="tablinks" id="assistance-btn" (click)="openTab('assistance')">Assistance</button>
          <button class="tablinks" id="order-btn" (click)="openTab('order')">Order</button>
        </div>

        <!-- Tab content -->
        <div id="dine" class="tabcontent" style="display: block">
          <h2 class="title">New Dine Session</h2>
          <p class="sub-text">{{ currentDate }} <i class="material-icons">calendar_today</i></p>
          <p class="sub-text time-text">8:07PM - Dinner</p>
          <!-- <button class="reception-btn">Dine</button> -->
        </div>

        <div id="assistance" class="tabcontent">
          <h2 class="title">Notify Assistance</h2>
          <button class="reception-btn-skel">Waiter</button>
          <button class="reception-btn-skel">General Manager</button>
        </div>

        <div id="order" class="tabcontent">
            <h2 class="title">Follow-up Order</h2>
            <button class="reception-btn-skel">Notify Chef</button>
        </div>
      </div>
  
    </div>

  </div>

</div>