/* You can add global styles to this file, and also import other style files */

/* Import main styles */

@import 'assets/scss/default/main.scss';


.user-side {
    background-color: #A40020;
    width: 100%;
    height: 100vh;

    h1,h2,h3,h4,h5,h6 {
        font-family: 'VarelaRound';
        color: #ffffff;
    }

    .h-font-big {
        font-size: 92px;
    }
}
